body {
  font-size: 3rem;
  line-height: 2;
  color: #cccccc;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 3rem;
}

.ant-layout {
  background: #fff;
}

.main-layout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

/* 
TITLES
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: "";
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

.main-layout {
  padding: 0;
  height: auto;
  line-height: 1.6;

  .header {
    background: #fff;
    color: #1890ff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0;
    height: auto;
    line-height: 2;

    .ant-anchor-wrapper {
      background: none;
    }

    .ant-anchor {
      display: flex;
    }

    .ant-menu {
      display: flex;
      flex-direction: row;
      border: 0;
      background: none !important;
    }

    .logo {
      font-size: 2rem;
      font-weight: bold;
      color: #1890ff;
      text-decoration: none;
    }

    .name {
      font-size: 1.5rem;
      color: #09569e;
    }

    .menu-button {
      display: flex;
    }

    .ant-anchor-link {
      padding: 0 20px;
      line-height: 1.4;
      position: relative;
    }

    .ant-anchor-link-title {
      font-weight: 600;

      &:hover,
      &.active {
        color: #1890ff;
        transition: all 0.3s ease;
      }
    }
  }
}

.hero-block {
  background: #ebebeb;
  padding: 2rem;
  display: flex;
  align-items: center;
  height: 100vh;

  .hero-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    h2 {
      font-size: 3rem;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0;
      animation: typing 5s steps(22) 1s forwards, fadeIn 0.5s 1s forwards;

      @media screen and (max-width: 750px) {
        font-size: 1.2em;
        transition: all 0.1s ease;
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 75%;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    p {
      font-size: 1rem;
      // text-align: center;

      @media screen and (max-width: 750px) {
        font-size: 0.8rem;
        transition: all 0.1s ease;
      }
    }

    @media screen and (min-width: 751px) {
      align-items: center;
      justify-content: center;
    }
  }

  .hero-pic {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    img {
      max-width: 100%;
      border-radius: 15%;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      filter: grayscale(30%);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.15);
        filter: grayscale(0%);
      }

      @media screen and (max-width: 750px) {
        scale: 50%;
      }
    }
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

.aboutBlock {
  .container {
    display: block !important;
  }

  .ant-carousel,
  .ant-carousel div {
    height: 100%;
  }

  .slick-dots li button {
    background: #000 !important;
  }

  .slick-dots li.slick-active button {
    background: #1890ff !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 0 70px;
  }

  h3 {
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 30px;
  }

  p {
    margin: 0 0 30px;
  }

  .btnHolder {
    height: auto !important;

    button,
    .fas {
      margin: 0 10px 0 0;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;

  .input-box:hover {
    border-color: #048beb;
    box-shadow: 0 0 5px rgba(4, 139, 235, 0.5);
  }

  form {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #1268b9;
  }

  .input-box,
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #3a3a3a;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }

  .input-submit {
    background-color: #048beb;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .input-submit:hover {
    background-color: #024f86;
  }

  .container {
    border-radius: 0.75rem;
    background-color: #f2f2f2;
    padding: 1.2rem;
  }

  .column {
    width: 75%;
    margin-top: 1rem;
    padding: 1.3rem;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .column,
    .input-submit {
      width: 100%;
      margin-top: 0;
    }
  }
}

.footer {
  background: #111;
  color: #fff;
  text-align: center;

  a {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
  }

  .icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    li {
      margin: 0 2.5rem;

      a {
        color: #fff;

        img {
          width: 2rem;
          height: 2rem;
        }

        .material-symbols-outlined {
          font-size: 2rem;
        }

        &:hover {
          opacity: 0.4;
        }
      }
    }

    .go-top:hover {
      opacity: 0.1;
    }
  }
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 750px) {
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none;
  }
}
